<div class="card">
  <div class="card-header">
    <h3>{{ isEdit ? 'Edit' : 'New' }} {{ config.title }}</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-6" *ngFor="let field of config.formFields">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ field.label }}</mat-label>

            <input
              *ngIf="field.type !== 'select'"
              matInput
              [type]="field.type"
              [formControlName]="field.key">

            <mat-select
              *ngIf="field.type === 'select'"
              [formControlName]="field.key"
              [multiple]="field.key === 'authors'">
              <mat-option *ngFor="let opt of options[field.key]" [value]="opt.value">
                {{ opt.label }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="form.get(field.key)?.hasError('required')">
              {{ field.label }} is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="mt-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Save
        </button>
        <button mat-button type="button" (click)="cancel()" class="ml-2">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>