<mat-sidenav-container class="h-100">
  <mat-sidenav mode="side" opened class="sidebar">
    <mat-nav-list>
      <a mat-list-item routerLink="/livros" routerLinkActive="active">
        <mat-icon>book</mat-icon>
        <span>Livros</span>
      </a>
      <a mat-list-item routerLink="/autores" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Autores</span>
      </a>
      <a mat-list-item routerLink="/categorias" routerLinkActive="active">
        <mat-icon>folder</mat-icon>
        <span>Categorias</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>